<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Atty31_Subscription::config" title="Subscription" sortOrder="0" />
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="Atty31_Subscription::view_subscriptions_list" title="View subscriptions" sortOrder="100">
                <resource id="Atty31_Subscription::view_subscriptions" title="View subscriptions" sortOrder="1" />
            </resource>
            <resource id="Atty31_Subscription::new_subscription_form" title="Add new subscription" sortOrder="200">
                <resource id="Atty31_Subscription::new_subscription" title="Add new subscription" sortOrder="2" />
            </resource>
            <resource id="Atty31_Subscription::scheduler_orders_list" title="Scheduler orders" sortOrder="300">
                <resource id="Atty31_Subscription::scheduler_orders" title="Scheduler orders" sortOrder="3" />
            </resource>
        </resources>
    </acl>
</config>