<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Atty31\Subscription\Model\ResourceModel\Subscription\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">atty31_subscription</argument>
            <argument name="resourceModel" xsi:type="string">Atty31\Subscription\Model\ResourceModel\Subscription</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="atty31_subscription_grid_data_source" xsi:type="string">Atty31\Subscription\Model\ResourceModel\Subscription\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="subscription_after_save" type="Atty31\Subscription\Plugin\OrderAfterSave" sortOrder="10" disabled="false" />
    </type>
</config>