<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Atty31_Subscription::subscriptions" title="Manage Subscriptions" module="Atty31_Subscription" sortOrder="10" resource="Atty31_Subscription::subscriptions"/>
        <add id="Atty31_Subscription::subscription" title="View Subscriptions" module="Atty31_Subscription" sortOrder="10" action="subscriptions/subscription/index" resource="Atty31_Subscription::subscription" parent="Atty31_Subscription::subscriptions"/>
        <add id="Atty31_Subscription::add_new_subscription" title="Add New" module="Atty31_Subscription" sortOrder="20" parent="subscriptions/subscription/index" action="atty31_subscription/subscription" resource="Atty31_Subscription::add_new_subscription"/>
    </menu>
</config>

